{% extends 'base.html' %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>M+ trials</title>
  </head>
 <body>
  <h1>Trial search filters</h1>
  <form method="get">
    {{ filter.form.as_table }}
    <button type="submit">Search</button>
  </form>
  {% if filter.qs %}
  <ul>
    {% for trial in filter.qs %}
      <table>
          <tr>
              <td><a href="{{ trial.get_absolute_url }}">{{ trial.nct_id }} </a></td>
              <td>{{ trial.alloc }} {{ trial.drank_final}}</td>
              <td>{{ trial.brief_title }}</td>
          </tr>
      </table>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no trials.</p>
  {% endif %}
</body>
</html>
{% endblock %}
