.sidebar-nav {
    margin-top: 50px;
    padding: 0;
    list-style: none;
	height:100%;
	width:75px;
	position: fixed;
}
.table {
    left:0;
    text-align: center;
    width:600px;-
    margin:0;
    font-size:11px;
    border:1px solid #fff;
    border-collapse:collapse;
}
.footer {
        margin-bottom:0px;
}

span.small {
  font-size: smaller;
}
